﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app='app'>
<head>
    <title>Infauto</title>

    <script src="Scripts/Libs/jQuery/jquery-2.1.4.min.js"></script>

    <script src="Scripts/Libs/Angular/angular.js"></script>
    <script src="Scripts/Libs/Angular/angular-local-storage.js"></script>
    <script src="Scripts/Libs/Angular/angular-route.js"></script>
    <script src="Scripts/Libs/Angular/angular-ui-router.js"></script>
    <script src="Scripts/Libs/Angular/angular-touch.min.js"></script>
    <script src="Scripts/Libs/Angular/angular-animate.js"></script>
    <script src="Scripts/Libs/Angular/ui-bootstrap-tpls-0.13.4.js"></script>
    <script src="Scripts/Libs/Angular/angular-sanitize.js"></script>
    <script src="Scripts/Libs/Angular/i18n/angular-locale_pl-pl.js"></script>
    <script src="Scripts/Libs/Angular/i18n/angular-locale_en-us.js"></script>
    <script src="Scripts/Libs/Angular/i18n/angular-translate.js"></script>
    <script src="Scripts/Libs/Angular/i18n/angular-translate-loader-static-files.js"></script>

    <script src="Scripts/app.module.js"></script>
    <script src="Scripts/app.config.js"></script>
    <script src="Scripts/constants.js"></script>

    <script src="Scripts/Modules/controllers.module.js"></script>
    <script src="Scripts/Modules/services.module.js"></script>
    <script src="Scripts/Modules/directives.module.js"></script>

    <script src="Scripts/Contollers/details.controller.js"></script>
    <script src="Scripts/Contollers/guest.controller.js"></script>
    <script src="Scripts/Contollers/index.controller.js"></script>
    <script src="Scripts/Contollers/insurances.controller.js"></script>
    <script src="Scripts/Contollers/login.controller.js"></script>
    <script src="Scripts/Contollers/refueling.controller.js"></script>
    <script src="Scripts/Contollers/services.controller.js"></script>
    <script src="Scripts/Contollers/user.controller.js"></script>
    <script src="Scripts/Contollers/vehicles.controller.js"></script>

    <script src="Scripts/Contollers/Modals/add-vehicle.controller.js"></script>
    <script src="Scripts/Contollers/Modals/vehicle-details.controller.js"></script>
    <script src="Scripts/Contollers/Modals/add-insurance.controller.js"></script>
    <script src="Scripts/Contollers/Modals/add-refueling.controller.js"></script>
    <script src="Scripts/Contollers/Modals/add-service.controller.js"></script>
    <script src="Scripts/Contollers/Modals/delete.controller.js"></script>

    <script src="Scripts/Directives/vehicle.directive.js"></script>
    <script src="Scripts/Directives/vehicle-refuelings.directive.js"></script>
    <script src="Scripts/Directives/vehicle-services.directive.js"></script>
    <script src="Scripts/Directives/vehicle-insurances.directive.js"></script>
    <script src="Scripts/Directives/insurance.directive.js"></script>
    <script src="Scripts/Directives/refueling.directive.js"></script>
    <script src="Scripts/Directives/service.directive.js"></script>
    <script src="Scripts/Directives/service-row.directive.js"></script>
    <script src="Scripts/Directives/insurance-row.directive.js"></script>
    <script src="Scripts/Directives/refueling-row.directive.js"></script>

    <script src="Scripts/Services/api-communication.service.js"></script>
    <script src="Scripts/Services/language.service.js"></script>
    <script src="Scripts/Services/modal.service.js"></script>
    <script src="Scripts/Services/user.service.js"></script>

    <script src="Scripts/Interceptors/request-interceptor.js"></script>

    <script src="Scripts/Libs/Bootstrap/bootstrap.js"></script>

    <link href="Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="Styles/sb-admin.css" rel="stylesheet">
    <link href="Styles/plugins/morris.css" rel="stylesheet" />
    <link href="Styles/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="Styles/site.min.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav ng-controller="IndexController as vm" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="{{vm.states.VEHICLES}}" ng-click="vm.menuNavigate(vm.states.VEHICLES)">Infauto</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{vm.user.name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="{{vm.states.USER}}"
                               ng-click="vm.menuNavigate(vm.states.USER)"
                               ng-if="vm.isUserLoggedIn"><i class="fa fa-fw fa-user"></i>{{'I_PROFILE' | translate}}</a>
                        </li>
                        <li>
                            <a href="#"
                               ng-show="vm.language == vm.viewLanguageConst.PL"
                               ng-click="vm.switchToEnglish()"><i class="fa fa-fw fa-gear"></i>{{'I_LANGUAGE' | translate}}</a>
                            <a href="#"
                               ng-show="vm.language == vm.viewLanguageConst.EN"
                               ng-click="vm.switchToPolish()"><i class="fa fa-fw fa-gear"></i>{{'I_LANGUAGE' | translate}}</a>
                        </li>
                        <li class="divider" ng-if="vm.isUserLoggedIn"></li>
                        <li>
                            <a ui-sref="{{vm.states.GUEST}}"
                               ng-click="vm.logOut()"
                               ng-if="vm.isUserLoggedIn"><i class="fa fa-fw fa-power-off"></i>{{'I_LOGOUT' | translate}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" ng-if="vm.isUserLoggedIn">
                <ul class="nav navbar-nav side-nav">
                    <li ng-class="{'active' : vm.activeState == vm.states.VEHICLE}">
                        <a ui-sref="{{vm.states.VEHICLES}}" ng-click="vm.menuNavigate(vm.states.VEHICLES)"><i class="fa fa-fw fa-dashboard"></i> {{'I_VEHICLES' | translate}}</a>
                    </li>
                    <li ng-class="{'active' : vm.activeState == vm.states.REFUELING}">
                        <a ui-sref="{{vm.states.REFUELING}}" ng-click="vm.menuNavigate(vm.states.REFUELING)"><i class="fa fa-fw fa-bar-chart-o"></i> {{'I_REFUEL' | translate}} </a>
                    </li>
                    <li ng-class="{'active' : vm.activeState == vm.states.SERVICES}">
                        <a ui-sref="{{vm.states.SERVICES}}" ng-click="vm.menuNavigate(vm.states.SERVICES)"><i class="fa fa-fw fa-wrench"></i> {{'I_SERVICE' | translate}} </a>
                    </li>
                    <li ng-class="{'active' : vm.activeState == vm.states.INSURANCE}">
                        <a ui-sref="{{vm.states.INSURANCES}}" ng-click="vm.menuNavigate(vm.states.INSURANCES)"><i class="fa fa-fw fa-file"></i> {{'I_INSURANCE' | translate}}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper" class="main-content">
            <div ui-view="main">
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
</body>
</html>