﻿<div class="row">
    <div class="col-lg-3 col-lg-offset-1">
        <form id="loginForm" role="form">
            <div ng-if="vm.showAlert" class="alert alert-danger" role="alert">{{'V_LOGIN_FAILL' | translate}}</div>
            <div class="row">
                <h1><span>{{'G_LOGIN' | translate}}</span></h1>
            </div>
            <div class="row" style="padding-top: 10px">
                <span>{{'G_EMAIL' | translate}}</span>
            </div>
            <div class="row">
                <input ng-model="vm.email" type="text" class="form-control" placeholder="{{'G_EMAIL'|translate}}" aria-describedby="basic-addon1" required>
            </div>
            <div class="row" style="padding-top: 5px">
                <span>{{'G_PASSWORD' | translate}}</span>
            </div>
            <div class="row">
                <input ng-model="vm.password" type="password" class="form-control" placeholder="{{'G_PASSWORD'|translate}}" aria-describedby="basic-addon1" required>
            </div>
            <div class="row" style="padding-top: 10px">
                <button ng-click="vm.login()" type="submit" class="btn btn-success"">{{'G_BTN_LOGIN'|translate}}</button>
            </div>
        </form>
    </div>
    <form id="registerForm" role="form">
        <div class="col-lg-3 col-lg-offset-2">
            <div class="row">
                <h1><span>{{'G_REGISTER' | translate}}</span></h1>
            </div>
            <div class="row" style="padding-top: 10px">
                <span>{{'G_USERNAME' | translate}}</span>
            </div>
            <div class="row">
                <input ng-model="vm.registerUserName" type="text" class="form-control" placeholder="{{'G_USERNAME'|translate}}" aria-describedby="basic-addon1" ng-model="vm.registerUserName" required>
            </div>
            <div class="row" style="padding-top: 10px">
                <span>{{'G_EMAIL' | translate}}</span>
            </div>
            <div class="row">
                <input ng-model="vm.registerUserEmail" type="email" id="inputEmail" class="form-control" placeholder="{{'G_EMAIL'|translate}}" aria-describedby="basic-addon1" ng-model="vm.registerUserEmail" required>
            </div>
            <div class="row" style="padding-top: 5px">
                <span>{{'G_PASSWORD' | translate}}</span>
            </div>
            <div class="row">
                <input ng-model="vm.registerPassword" type="password" class="form-control" placeholder="{{'G_PASSWORD'|translate}}" aria-describedby="basic-addon1" ng-model="vm.registerPassword" id="password">
            </div>
            <div class="row" style="padding-top: 5px">
                <span>{{'G_CONFIRM' | translate}}</span>
            </div>
            <div class="row">
                <input ng-model="vm.registerConfirm" type="password" class="form-control" placeholder="{{'G_CONFIRM'|translate}}" aria-describedby="basic-addon1" ng-model="vm.registerConfirm" id="confirmPassword" required>
            </div>
            <div class="row" style="padding-top: 10px">
                <button ng-click="vm.register()" type="submit" class="btn btn-primary">{{'G_REGISTER'|translate}}</button>
            </div>
        </div>
    </form>
</div>