﻿<div class="row">
    <div class="col-lg-8 ">
        <h1>{{"I_HEADER" | translate}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <button class="btn btn-success" ng-click="vm.addIsurance()">{{"I_ADD" | translate}}</button>
    </div>
</div>
<div ng-repeat="vehicle in vm.user.vehicles">
    <insurance></insurance>
</div>