﻿<div class="row">
    <div class="col-lg-8 ">
        <h1>{{"R_HEADER" | translate}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <button class="btn btn-success" ng-click="vm.addRefueling()">{{"R_ADD" | translate}}</button>
    </div>
</div>
<div ng-repeat="vehicle in vm.user.vehicles">
    <refueling></refueling>
</div>