﻿<div class="row">
    <div class="col-lg-8 ">
        <h1>{{"S_HEADER" | translate}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <button class="btn btn-success" ng-click="vm.addService()">{{"S_ADD" | translate}}</button>
    </div>
</div>
<div ng-repeat="vehicle in vm.user.vehicles">
    <service></service>
</div>