﻿<div class="row">
    <div class="col-lg-3 col-lg-offset-1">
        <form id="loginForm" role="form">
            <div class="row">
                <h1><span>{{'U_USER_PANEL' | translate}}</span></h1>
            </div>
            <div class="row" style="padding-top: 10px">
                <div class="col-lg-5">
                    <span>{{'G_USERNAME' | translate}} </span>
                </div>
                <div class="col-lg-3">
                    <span>{{vm.user.name}}</span>
                </div>
            </div>
            <div class="row" style="padding-top: 10px">
                <div class="col-lg-5">
                    <span>{{'G_EMAIL' | translate}} </span>
                </div>
                <div class="col-lg-3">
                    <span>{{vm.user.email}}</span>
                </div>
            </div>
        </form>
    </div>
</div>