﻿<div class="row">
    <div class="col-lg-8 ">
        <h1>{{"V_HEADER" | translate}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <button class="btn btn-success" ng-click="vm.addVehicle()">{{"V_ADD" | translate}}</button>
    </div>
</div>
<div ng-repeat="vehicle in vm.user.vehicles" ng-click="vm.openModal($event, vehicle)">
    <vehicle></vehicle>
</div>