﻿<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" ng-if="vm.target.id === undefined">{{"AV_HEADER" | translate}}</h4>
        <h4 class="modal-title" ng-if="vm.target.id !== undefined">{{"EV_HEADER" | translate}}</h4>
    </div>
    <div class="modal-body">
        <form id="loginForm" role="form">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row" style="padding-top: 5px">
                        <div class="col-md-1">
                            {{"AV_NAME" | translate}}
                        </div>
                        <div class="col-md-9">
                            <input required
                                   maxLength="100"
                                   class="form-control"
                                   type="text"
                                   ng-model="vm.target.name" />
                        </div>
                    </div>
                    <div class="row" style="padding-top: 5px">
                        <div class="col-md-1">
                            {{"V_MILEAGE" | translate}}
                        </div>
                        <div class="col-md-9">
                            <input required
                                   class="form-control"
                                   ng-model="vm.target.mileage"
                                   type="number"
                                   min="0" />
                        </div>
                        km
                    </div>
                    <div class="row" style="padding-top: 5px">
                        <div class="col-md-1">
                            {{"V_YEAR" | translate}}
                        </div>
                        <div class="col-md-9">
                            <input required
                                   maxLength="100"
                                   class="form-control"
                                   type="number"
                                   min="0"
                                   max="2017"
                                   ng-model="vm.target.productionYear" />
                        </div>
                    </div>
                    <div class="row" style="padding-top: 5px">
                        <div class="col-md-1">
                            {{"V_POWER" | translate}}
                        </div>
                        <div class="col-md-9">
                            <input required
                                   maxLength="100"
                                   class="form-control"
                                   type="number"
                                   min="0"
                                   ng-model="vm.target.horsePower" />
                        </div>
                        HP
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">{{"BTN_CANCEL"|translate}}</button>
        <button type="submit" class="btn btn-primary" ng-click="vm.save()">{{"BTN_SAVE"|translate}}</button>
    </div>
</div>
