﻿<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" ng-if="vm.target.id === undefined">{{"I_ADD" | translate}}</h4>
        <h4 class="modal-title" ng-if="vm.target.id !== undefined">{{"EI_HEADER" | translate}}</h4>
    </div>
    <div class="modal-body">
        <form id="loginForm" role="form">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row" style="padding-top: 5px">
                        <div class="col-md-3">
                            {{"AI_VEHICLE" | translate}}
                        </div>

                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{"SELECT_VEHICLE" | translate}}
                            </button>
                            <ul class="dropdown-menu">
                                <li class="animate-repeat" ng-repeat="vehicle in vm.user.vehicles">
                                    <a ng-click="vm.vehicleSelected(vehicle)"> {{vehicle.name}} </a>
                                </li>
                                <li class="animate-repeat" ng-if="vm.user.vehicles.length === 0">
                                    <strong>{{"NO_VEHICLES" | translate}}</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-5">
                            {{vm.selectedVehicle.name}}
                        </div>
                    </div>
                    <div class="row" style="padding-top: 5px">
                        <div class="col-md-3">
                            {{"VDI_FROM" | translate}}
                        </div>
                        <div class="col-md-7">
                            <input required
                                   class="form-control"
                                   ng-model="vm.target.insuranceFrom"/>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 5px">
                        <div class="col-md-3">
                            {{"VDI_TO" | translate}}
                        </div>
                        <div class="col-md-7">
                            <input required
                                   maxLength="100"
                                   class="form-control"
                                   ng-model="vm.target.insuranceTo" />
                        </div>
                    </div>
                    <div class="row" style="padding-top: 5px">
                        <div class="col-md-3">
                            {{"VDI_COST" | translate}}
                        </div>
                        <div class="col-md-7">
                            <input required
                                   maxLength="100"
                                   class="form-control"
                                   type="number"
                                   min="0"
                                   ng-model="vm.target.insuranceCost" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">{{"BTN_CANCEL"|translate}}</button>
        <button type="submit" class="btn btn-primary" ng-click="vm.save()">{{"BTN_SAVE"|translate}}</button>
    </div>
</div>
