﻿<div class="modal-content">
    <div class="modal-header">
        <h4>{{"BTN_DELETE" | translate}}</h4>
    </div>

        {{"DELETE"|translate}}

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="vm.delete()">{{"BTN_DELETE"|translate}}</button>
    <button type="button" class="btn btn-default" ng-click="vm.cancel()">{{"BTN_CANCEL"|translate}}</button>
</div>