﻿<div class="modal-content">
    <div class="modal-header">
        <h4 ng-if="vm.mode === 'refuelings'" class="modal-title">{{"V_REFUELINGS" | translate}}</h4>
        <h4 ng-if="vm.mode === 'services'" class="modal-title">{{"V_SERVICES" | translate}}</h4>
        <h4  ng-if="vm.mode === 'insurances'" class="modal-title">{{"V_INSURANCES" | translate}}</h4>
    </div>
    <div ng-if="vm.showAlert" class="alert alert-info text-center" role="alert">{{'V_NOTHING_TO_SHOW' | translate}}</div>
    <div ng-if="vm.mode === 'services'" class="row">
        <div class="col-lg-5" style="padding-bottom: 5px">
            {{"VDS_DESCRIPTION" | translate}}
        </div>
        <div class="col-lg-2">
            {{"VDS_COST" | translate}}
        </div>
        <div class="col-lg-2">
            {{"VDS_MILEAGE" | translate}}
        </div>
        <div class="col-lg-1">
            {{"VDS_ISCYCLIC" | translate}}
        </div>
        <div class="col-lg-2">
            {{"VDS_MIEAGE_CYCLE" | translate}}
        </div>
    </div>
    <div ng-if="vm.mode === 'insurances'" class="row">
        <div class="col-lg-4" style="padding-bottom: 5px">
            {{"VDI_FROM" | translate}}
        </div>
        <div class="col-lg-4">
            {{"VDI_TO" | translate}}
        </div>
        <div class="col-lg-4">
            {{"VDI_COST" | translate}}
        </div>
    </div>
    <div ng-repeat="element in vm.target">
        <vehicle-refuelings ng-if="vm.mode === 'refuelings'"></vehicle-refuelings>
        <vehicle-services ng-if="vm.mode === 'services'"></vehicle-services>
        <vehicle-insurances ng-if="vm.mode === 'insurances'"></vehicle-insurances>
    </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="vm.cancel()">{{"BTN_CANCEL"|translate}}</button>
 </div>