﻿<div class="row" ng-if="vehicle.insurances.length > 0">
    <div class="col-md-12">
        <h1>
            {{vehicle.name}}
        </h1>
        <div class="row">
            <div class="col-lg-3">
                <b>{{'VDI_FROM' | translate}}</b>
            </div>
            <div class="col-lg-3">
                <b>{{'VDI_TO' | translate}}</b>
            </div>
            <div class="col-lg-3">
                <b>{{'VDI_COST' | translate}}</b>
            </div>
        </div>
        <div ng-repeat="element in vehicle.insurances">
            <insurance-row></insurance-row>
        </div>
    </div>
</div>
