﻿<div class="row list-row-class">
    <div class="col-lg-3">
        {{element.insuranceFrom}}
    </div>
    <div class="col-lg-3">
        {{element.insuranceTo}}
    </div>
    <div class="col-lg-3">
        {{element.insuranceCost}}
    </div>
    <div class="col-lg-1">
        <button class="btn btn-primary"
                ng-click="vm.edit(element)">
            {{'BTN_EDIT' | translate}}
        </button>
    </div>
    <div class="col-lg-1">
        <button class="btn btn-danger"
                ng-click="vm.delete(element)">
            {{'BTN_DELETE' | translate}}
        </button>
    </div>
</div>