﻿<div class="row" ng-if="vehicle.refuelings.length > 0">
    <div class="col-lg-12">
        <h1>
            {{vehicle.name}}
        </h1>
        <div class="row">
            <div class="col-lg-2">
                <b>{{"VD_FUEC_COST"|translate}}</b>
            </div>
            <div class="col-lg-2">
                <b>{{"VD_MILEAGE"|translate}}</b>
            </div>
        </div>
        <div ng-repeat="element in vehicle.refuelings">
            <refueling-row></refueling-row>
        </div>
    </div>
</div>

