﻿<div class="row" ng-if="vehicle.services.length > 0">
    <div class="col-lg-12">
        <h1>
            {{vehicle.name}}
        </h1>
        <div class="row">
            <div class="col-lg-3">
                <b>{{'VDS_DESCRIPTION' | translate}}</b>
            </div>
            <div class="col-lg-2">
                <b>{{'VDS_COST' | translate}}</b>
            </div>
            <div class="col-lg-2">
                <b>{{'VDS_MILEAGE' | translate}}</b>
            </div>
            <div class="col-lg-1">
                <b>{{'VDS_ISCYCLIC' | translate}}</b>
            </div>
            <div class="col-lg-2">
                <b>{{'VDS_MIEAGE_CYCLE' | translate}}</b>
            </div>
        </div>
        <div ng-repeat="element in vehicle.services">
            <service-row></service-row>
        </div>
    </div>
</div>

