﻿<div class="row list-row-class">
    <div class="col-lg-3">
        {{element.serviceDescription}}
    </div>
    <div class="col-lg-2">
        {{element.serviceCost}}
    </div>
    <div class="col-lg-2">
        {{element.mileage}}
    </div>
    <div class="col-lg-1">
        {{element.isCyclic}}
    </div>
    <div class="col-lg-2">
        {{element.mileageCycle}}
    </div>
    <div class="col-lg-1">
        <button class="btn btn-primary"
                ng-click="vm.editService(element)">
            {{'BTN_EDIT' | translate}}
        </button>
    </div>
    <div class="col-lg-1">
        <button class="btn btn-danger"
                ng-click="vm.deleteService(element)">
            {{'BTN_DELETE' | translate}}
        </button>
    </div>
</div>