﻿<div class="row">
    <div class="col-lg-12 divider"></div>
    <div class="col-lg-5">
        {{element.serviceDescription}}
    </div>
    <div class="col-lg-2">
        {{element.serviceCost}}
    </div>
    <div class="col-lg-2">
        {{element.mileage}}
    </div>
    <div class="col-lg-1">
        {{element.isCyclic}}
    </div>
    <div class="col-lg-2">
        {{element.mileageCycle}}
    </div>
    <div class="col-lg-12 divider"></div>
</div>