﻿<div class="col-md-4 col-sm-6 vehicle-box">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2> {{vehicle.name}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <span>{{"V_MILEAGE"| translate}}</span>
        </div>
        <div class="col-lg-8">
            <b><span>{{vehicle.mileage}}</span></b>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <span>{{"V_YEAR"| translate}}</span>
        </div>
        <div class="col-lg-8">
            <b> <span>{{vehicle.productionYear}}</span></b>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <span>
                {{"V_POWER"| translate}}
            </span>
        </div>
        <div class="col-lg-8">
            <b><span>{{vehicle.horsePower}} (HP)</span></b>
        </div>
    </div>
    <div class="row buttons-panel">
        <div class="col-lg-3">
            <button class="btn btn-info" ng-click="vm.refueling($event, vehicle)">{{"V_REFUELINGS"| translate}}</button>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-info" ng-click="vm.services($event, vehicle)">{{"V_SERVICES"| translate}}</button>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-info" ng-click="vm.insurances($event, vehicle)">{{"V_INSURANCES"| translate}}</button>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-danger" ng-click="vm.delete($event, vehicle)">{{"BTN_DELETE"| translate}}</button>
        </div>
    </div>
</div>

