﻿<div class="row  list-row-class">
    <div class="col-lg-4">
        {{element.insuranceFrom}}
    </div>
    <div class="col-lg-4">
        {{element.insuranceTo}}
    </div>
    <div class="col-lg-4">
        {{element.insuranceCost}}
    </div>
</div>