﻿<div class="row">
    <div class="col-lg-3">{{"VD_FUEC_COST"|translate}}
    </div>
    <div class="col-lg-3">
        {{element.fuelCost}}
    </div>
    <div class="col-lg-3">{{"VD_MILEAGE"|translate}}
    </div>
    <div class="col-lg-3">
        {{element.mileageDifference}}
    </div>
    <div class="col-lg-12 divider"></div>
</div>